[submodule "src/protobufs/users-management-service"]
	path = src/protobufs/users-management-service
	url = git@github.com:isaacwassouf/authentication-service-protobufs.git
[submodule "src/protobufs/schema-service-protobutfs"]
	path = src/protobufs/schema-service-protobutfs
	url = git@github.com:isaacwassouf/schema-service-protobutfs.git
[submodule "src/protobufs/content-service-protobufs"]
	path = src/protobufs/content-service-protobufs
	url = git@github.com:isaacwassouf/content-service-protobufs.git
[submodule "src/protobufs/analytics-service-protobufs"]
	path = src/protobufs/analytics-service-protobufs
	url = git@github.com:isaacwassouf/analytics-service-protobufs.git
[submodule "src/protobufs/email-service-protobufs"]
	path = src/protobufs/email-service-protobufs
	url = git@github.com:isaacwassouf/email-service-protobufs.git
